@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  body * {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  @page {
    margin: 12mm;
  }
}
